.header-1 {
    color: blue;
  }

  .footer {
    background-color: rgb(255, 255, 204);
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  
  }
  
  #paragraph-1 {
    color: rgb(217, 54, 49);
  }
  
  #paragraph-2 {
    color: #28ac5c;
  }
  
  /* We used 3 different ways to specify color:
  the word "blue", rgb selectors and hex codes */
  